Make Booking.json
{
  "name": "Make Booking 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookingbaru",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "4784dd69-7398-4d5c-bebd-a29e7eacccd2",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3696,
        -336
      ],
      "webhookId": "e135e9ef-3c0e-4d38-9f1a-cd026e211109"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming booking data\nconst inputData = $input.first().json.body ||{};\n\n// Extract booking information\nconst bookingData = {\n  name: inputData.name || '',\n  email: inputData.email || '',\n  phone: inputData.phone || '',\n  date: inputData.date || '',\n  time: inputData.time || '',\n  source: inputData.source || 'Unknown',\n  timestamp: new Date().toISOString()\n};\n\n// Validate required fields\nconst requiredFields = ['name', 'email', 'phone', 'date', 'time'];\nconst missingFields = requiredFields.filter(field => !bookingData[field]);\n\nif (missingFields.length > 0) {\n  return {\n    success: false,\n    error: `Missing required fields: ${missingFields.join(', ')}`,\n    bookingData: null\n  };\n}\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(bookingData.email)) {\n  return {\n    success: false,\n    error: 'Invalid email format',\n    bookingData: null\n  };\n}\n\n// Validate phone format (basic validation)\nconst phoneRegex = /^[+]?[0-9\\s\\-()]{10,}$/;\nif (!phoneRegex.test(bookingData.phone)) {\n  return {\n    success: false,\n    error: 'Invalid phone number format',\n    bookingData: null\n  };\n}\n\n// Validate date format (YYYY-MM-DD)\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(bookingData.date)) {\n  return {\n    success: false,\n    error: 'Invalid date format. Please use YYYY-MM-DD',\n    bookingData: null\n  };\n}\n\n// Validate time format (HH:MM)\nconst timeRegex = /^\\d{2}:\\d{2}$/;\nif (!timeRegex.test(bookingData.time)) {\n  return {\n    success: false,\n    error: 'Invalid time format. Please use HH:MM',\n    bookingData: null\n  };\n}\n\nreturn {\n  success: true,\n  error: null,\n  bookingData: bookingData\n};"
      },
      "id": "c51eda33-2deb-467d-909e-c72bb3d5ab12",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3248,
        -336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "validation-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "2500dc60-1b39-487b-8d12-b977f6d557a7",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a7553da8-eeea-4dec-993c-b8501836305d",
      "name": "Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3024,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Business hours validation for Indonesia timezone\nconst bookingData = $input.first().json.bookingData;\n\n// Parse date and time components\nconst [year, month, day] = bookingData.date.split('-').map(Number);\nconst [hour, minute] = bookingData.time.split(':').map(Number);\n\n// Create date object in Indonesia timezone (UTC+7)\n// Note: JavaScript Date constructor treats the date as local time when no timezone is specified\n// We need to account for Indonesia being UTC+7\nconst indonesiaTime = new Date(year, month - 1, day, hour, minute, 0);\n\n// Get day of week (0 = Sunday, 1 = Monday, ..., 6 = Saturday)\nconst dayOfWeek = indonesiaTime.getDay();\nconst timeInMinutes = hour * 60 + minute;\n\n// Business hours: Mon-Fri (1-5), 9am-9pm (540-1260 minutes)\n// Excluding: 12-2pm (720-840 minutes), 6-8pm (1080-1200 minutes)\nconst isWeekday = dayOfWeek >= 1 && dayOfWeek <= 5;\nconst isWithinBusinessHours = timeInMinutes >= 540 && timeInMinutes <= 1260;\nconst isNotLunchBreak = !(timeInMinutes >= 720 && timeInMinutes <= 840);\nconst isNotDinnerBreak = !(timeInMinutes >= 1080 && timeInMinutes <= 1200);\n\n// Check if time is valid\nconst isValidTime = isWeekday && isWithinBusinessHours && isNotLunchBreak && isNotDinnerBreak;\n\n// Format the requested datetime for Google Calendar (in Indonesia timezone)\n// Create proper ISO string with Indonesia timezone offset\nconst startDateTime = new Date(year, month - 1, day, hour, minute, 0).toISOString().replace('Z', '+08:00');\nconst endDateTime = new Date(year, month - 1, day, hour + 1, minute, 0).toISOString().replace('Z', '+08:00');\n\n// Create proper ISO string with Indonesia timezone offset\nconst startDateTimeCal = new Date(year, month - 1, day, hour, minute, 0).toISOString().replace('Z', '+08:00').replace('.000', '');\nconst endDateTimeCal = new Date(year, month - 1, day, hour + 1, minute, 0).toISOString().replace('Z', '+08:00').replace('.000', '');\n\nlet errorMessage = '';\nif (!isWeekday) {\n  errorMessage = 'Sorry, we only accept bookings on weekdays (Monday to Friday).';\n} else if (!isWithinBusinessHours) {\n  errorMessage = 'Sorry, we only accept bookings between 9:00 AM and 9:00 PM Indonesia time.';\n} else if (!isNotLunchBreak) {\n  errorMessage = 'Sorry, we are closed for lunch from 12:00 PM to 2:00 PM Indonesia time.';\n} else if (!isNotDinnerBreak) {\n  errorMessage = 'Sorry, we are closed for dinner from 6:00 PM to 8:00 PM Indonesia time.';\n}\n\n\nreturn {\n  isValidTime: isValidTime,\n  errorMessage: errorMessage,\n  bookingData: bookingData,\n  startDateTimeCal: startDateTimeCal,\n  endDateTimeCal: endDateTimeCal,\n  startDateTime: startDateTime,\n  endDateTime: endDateTime,\n\n  \n  indonesiaTime: indonesiaTime.toLocaleString('en-MY', { timeZone: 'Asia/Jakarta' }),\n  dayOfWeek: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek],\n  debug: {\n    parsedDate: bookingData.date,\n    parsedTime: bookingData.time,\n    dayOfWeek: dayOfWeek,\n    timeInMinutes: timeInMinutes,\n    isWeekday: isWeekday,\n    isWithinBusinessHours: isWithinBusinessHours,\n    isNotLunchBreak: isNotLunchBreak,\n    isNotDinnerBreak: isNotDinnerBreak\n  }\n};"
      },
      "id": "f55e551b-a740-443b-bfb0-69ebc8c64bac",
      "name": "Business Hours Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "time-valid",
              "leftValue": "={{ $json.isValidTime }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "2ad109e2-afbf-4ac5-a850-c5e21ec7c8bf",
              "leftValue": "={{ $json.isValidTime }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "fcec51d1-e421-46b0-9787-343004cd04ae",
              "leftValue": "={{ $json.errorMessage }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "30137af6-2bc8-4f4d-9efd-a14edbaed67e",
      "name": "Time Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2576,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "function checkCalendar(calendarEvents, bookingData,startDateTime,endDateTime){\n\n \n\n// Filter out events that might conflict\nconst conflictingEvents = calendarEvents.filter(event => {\n  const eventStart = new Date(event.json.start?.dateTime || event.json.start?.date);\n  const eventEnd = new Date(event.json.end?.dateTime || event.json.end?.date);\n  \n  // Check for overlap\n  return (eventStart < new Date(endDateTime) && eventEnd > new Date(startDateTime));\n});\n\nconst isAvailable = conflictingEvents.length === 0;\n\nlet availabilityMessage = '';\nif (!isAvailable) {\n  const conflictingTimes = conflictingEvents.map(event => {\n    const start = new Date(event.json.start?.dateTime || event.json.start?.date);\n    return start.toLocaleString('en-MY', { timeZone: 'Asia/Jakarta' });\n  }).join(', ');\n  \n  availabilityMessage = `Sorry, the requested time slot is not available. We have existing bookings at: ${conflictingTimes}. Please choose a different time.`;\n}\n\nreturn {\n  isAvailable: isAvailable,\n  availabilityMessage: availabilityMessage,\n  conflictingEvents: conflictingEvents,\n  bookingData: bookingData,\n  startDateTime: startDateTime,\n  endDateTime: endDateTime\n};\n\n  \n} \n\n\n// PUBLIC HOLIDAY\n// Check if there are any conflicting events \nlet calendarEvents = $input.all();\nlet bookingData =$('Time Validation Check').first().json.bookingData;\nlet startDateTime = $('Time Validation Check').first().json.startDateTime\nlet endDateTime =$('Time Validation Check').first().json.endDateTime\n \nconst result1 = checkCalendar(calendarEvents, bookingData,startDateTime,endDateTime)\nif(!result1.isAvailable   ){\n  return result1\n}\n\n \n// MAIN CALENDAR\n// Check if there are any conflicting events \n\nlet calendarEvents2 = $('Check Calendar Availability - Main').all(); \n\nconst result2 = checkCalendar(calendarEvents2, bookingData,startDateTime,endDateTime)\nif(!result2.isAvailable   ){\n  return result2\n}\n\n\n \nreturn {result2, result1:result1, result22:result2}\n "
      },
      "id": "faaee70e-b714-4bf6-92e6-e6f7827de3fd",
      "name": "Check Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        -528
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "slot-available",
              "leftValue": "={{ $json.isAvailable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "a2aeaf3c-a4a9-46c7-957b-71a83b5b43d4",
              "leftValue": "={{ $json.isAvailable +\"\"}}",
              "rightValue": "\"true\"",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "71292758-80a6-4c61-b6ee-9dcb6df7fef7",
              "leftValue": "={{ $json.conflictingEvents }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthLt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3cd0dc46-4b1c-4b04-812b-dbf2e44d1bcb",
      "name": "Availability Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1680,
        -528
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "indraseptianto17@gmail.com",
          "mode": "list",
          "cachedResultName": "Among Tamu Available"
        },
        "start": "={{ $('Business Hours Check').all()[0].json.startDateTimeCal }}",
        "end": "={{ $('Business Hours Check').all()[0].json.endDateTimeCal }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Booking Webhook').first().json.body.email }}"
          ],
          "color": "2",
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=Among Tamu : Booking with {{ $('Booking Webhook').first().json.body.name }}",
          "guestsCanInviteOthers": false,
          "summary": "=Among Tamu : Booking with {{ $('Booking Webhook').first().json.body.name }}",
          "visibility": "default"
        }
      },
      "id": "513e16e2-e094-4149-a264-c48058defd54",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -1456,
        -624
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZDrWJu38aJFLMMpJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst calendarEvent = $input.first().json;\n\nconst bookingData =$('Booking Webhook').first().json.body\n\nreturn {\n  success: true,\n  message: 'Booking confirmed successfully!',\n  bookingDetails: {\n    name: bookingData.name,\n    email: bookingData.email,\n    phone: bookingData.phone,\n    date: bookingData.date,\n    time: bookingData.time,\n    eventId: calendarEvent.id,\n    eventLink: calendarEvent.htmlLink,\n    calendarEvent: calendarEvent\n  },\n  confirmationMessage: `Hi ${bookingData.name}, your booking has been confirmed for ${bookingData.date} at ${bookingData.time} Malaysia time. You will receive a calendar invitation shortly.`\n};"
      },
      "id": "617a156a-9ce8-452f-9510-07087a5305aa",
      "name": "Prepare Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "3fc2cf7b-381b-402c-92fe-33f1d191217b",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1008,
        -624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "5421de7e-878d-4352-9ec2-3d76aa82029e",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2576,
        -240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "6b006543-76d3-40aa-89a8-e6c3350d82fd",
      "name": "Time Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2128,
        -336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e4275dc6-fae6-4c2f-bf71-4b52a37e23a0",
      "name": "Availability Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1232,
        -432
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare error response for validation failures\nconst errorData = $input.first().json;\n\nreturn {\n  success: false,\n  error: errorData.error,\n  message: 'Booking request failed validation',\n  details: errorData\n};"
      },
      "id": "af8179b7-7284-4c7a-9ec4-bf80f2d8576e",
      "name": "Prepare Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare error response for business hours violations\nconst errorData = $input.first().json;\n\nreturn {\n  success: false,\n  error: errorData.errorMessage,\n  message: 'Booking request outside business hours',\n  details: {\n    requestedTime: errorData.indonesiaTIme,\n    dayOfWeek: errorData.dayOfWeek,\n    businessHours: 'Monday to Friday, 9:00 AM - 9:00 PM Indonesia time',\n    excludedHours: '12:00 PM - 2:00 PM (lunch), 6:00 PM - 8:00 PM (dinner)'\n  }\n};"
      },
      "id": "6a22eecc-9823-47b4-ba81-b2355de2fa65",
      "name": "Prepare Time Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare error response for availability issues\nconst errorData = $input.first().json;\n\nreturn {\n  success: false,\n  error: errorData.availabilityMessage,\n  message: 'Requested time slot is not available',\n  details: {\n    requestedTime: errorData.bookingData.date + ' ' + errorData.bookingData.time,\n    conflictingEvents: errorData.conflictingEvents.length,\n    suggestion: 'Please try a different time slot'\n  }\n};"
      },
      "id": "2e4f119e-8aa5-4365-8301-e06dd0a1bbdd",
      "name": "Prepare Availability Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        -432
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "id.indonesian#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Hari libur di Indonesia"
        },
        "limit": 10,
        "options": {
          "timeMin": "={{ $('Business Hours Check').all()[0].json.startDateTime }}",
          "timeMax": "={{ $('Business Hours Check').all()[0].json.endDateTime}}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "c84c0881-d15a-4569-992a-bd531c2b6e9c",
      "name": "Check Calendar Availability - public holiday",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2128,
        -528
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZDrWJu38aJFLMMpJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "indraseptianto17@gmail.com",
          "mode": "list",
          "cachedResultName": "Among Tamu Available"
        },
        "limit": 10,
        "options": {
          "timeMin": "={{ $('Business Hours Check').all()[0].json.startDateTime }}",
          "timeMax": "={{ $('Business Hours Check').all()[0].json.endDateTime}}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "327f6464-1a67-4515-b292-fe38fa50e13f",
      "name": "Check Calendar Availability - Main",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2352,
        -528
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZDrWJu38aJFLMMpJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "indraseptianto17@gmail.com",
          "mode": "list",
          "cachedResultName": "Among Tamu Available"
        },
        "limit": 10,
        "options": {
          "timeMin": "={{ $('Validate Date1').first().json.checkData.date + 'T00:00:00+08:00' }}",
          "timeMax": "={{ $('Validate Date1').first().json.checkData.date + 'T23:59:59+08:00' }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "e5982d59-b570-410f-9d00-263e94378a0d",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2352,
        -960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZDrWJu38aJFLMMpJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming date data\nconst inputData = $('Booking Timeslot webhook').first().json.body;\n\n// Extract date information\nconst checkData = {\n  date: inputData.date || '',\n  timestamp: new Date().toISOString()\n};\n\n// Validate required fields\nif (!checkData.date) {\n  return {\n    success: false,\n    error: 'Missing required field: date',\n    checkData: null\n  };\n}\n\n// Validate date format (YYYY-MM-DD)\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!dateRegex.test(checkData.date)) {\n  return {\n    success: false,\n    error: 'Invalid date format. Please use YYYY-MM-DD',\n    checkData: null\n  };\n}\n\n// Parse date components\nconst [year, month, day] = checkData.date.split('-').map(Number);\nconst checkDate = new Date(year, month - 1, day);\nconst dayOfWeek = checkDate.getDay();\n\n// Check if it's a weekend\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\n\nreturn {\n  success: true,\n  error: null,\n  checkData: checkData,\n  parsedDate: {\n    year: year,\n    month: month,\n    day: day,\n    dayOfWeek: dayOfWeek,\n    dayName: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek],\n    isWeekend: isWeekend\n  }\n};"
      },
      "id": "7abdf502-dc9c-4dea-86fd-09fb822fad38",
      "name": "Validate Date1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -960
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookinghari",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "f302b60f-08e3-4c9b-8b00-fcbd22678bdc",
      "name": "Booking Timeslot webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3472,
        -960
      ],
      "webhookId": "f925da92-3457-4a5f-8951-cf5e7ef049d2"
    },
    {
      "parameters": {
        "amount": 2.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3472,
        -336
      ],
      "id": "c33fc95d-61dd-471c-800a-27e4d4bf7199",
      "name": "Wait",
      "webhookId": "8878a680-63c8-452b-9ca5-734105fb75f9"
    },
    {
      "parameters": {
        "amount": 2.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3248,
        -960
      ],
      "id": "c5eb12e1-73d5-4822-89e4-ab939af69549",
      "name": "Wait1",
      "webhookId": "306889e4-3a66-4bdb-b6f1-9311c6e0d785"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bfa3c4b-14c7-4c54-b186-bd4df7faafde",
              "name": "configuredAvailableTimeSlots",
              "value": "  [     { \"time\": '08:00', \"display\": '08:00 AM - 09:00 AM', \"available\": true },      { \"time\": '09:00', \"display\": '09:00 AM - 10:00 AM', \"available\": true },      { \"time\": '10:00', \"display\": '10:00 AM - 11:00 AM', \"available\": true },      { \"time\": '11:00', \"display\": '11:00 AM - 12:00 PM', \"available\": true },      { \"time\": '12:00', \"display\": '12:00 PM - 01:00 PM', \"available\": true },      { \"time\": '13:00', \"display\": '01:00 PM - 02:00 PM', \"available\": true },      { \"time\": '14:00', \"display\": '02:00 PM - 03:00 PM', \"available\": true },      { \"time\": '15:00', \"display\": '03:00 PM - 04:00 PM', \"available\": true },      { \"time\": '16:00', \"display\": '04:00 PM - 05:00 PM', \"available\": true }     ]  ",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3024,
        -960
      ],
      "id": "34d4a22f-8dab-490a-8c66-b621f0c580b7",
      "name": "ConfigTimeSlots"
    },
    {
      "parameters": {
        "content": "## Handle validation \n1. name + email validation\n2. phone validation\n3. date time validation",
        "height": 304,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        -128
      ],
      "typeVersion": 1,
      "id": "6c3a613b-5165-4922-ac9b-ed56651dd4bd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Handle validation \n1. datetime is weekend \n2. datetime is non-business hours \n3. datetime is lunch or dinner hours",
        "height": 288,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        -464
      ],
      "typeVersion": 1,
      "id": "d9535443-7a02-4677-9089-8314d08a2aa8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Handle validation \n1. datetime is conflicting with  another event\n2. datetime is a malaysian public holiday ",
        "height": 304,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        -576
      ],
      "typeVersion": 1,
      "id": "088a391a-363f-4b3a-99a2-0d766862c216",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Checking datetime  \n1. Malaysian public holiday\n2. Event booking conflict",
        "height": 736,
        "width": 1120,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1984,
        -608
      ],
      "typeVersion": 1,
      "id": "245c6c22-25b9-4869-9f2b-50f8d2368cad",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Checking datetime  \n1. is a weekend working day?\n2. is a non-business hours?\n3. is a lunch or dinner hours?",
        "height": 736,
        "width": 864,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2544,
        -576
      ],
      "typeVersion": 1,
      "id": "f3af345f-f8ca-4536-b573-4db624c81f50",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Checking input received\n1. is a valid name, email?\n2. is a valid phone number?\n3. is a valid date time?",
        "height": 736,
        "width": 816,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3296,
        -592
      ],
      "typeVersion": 1,
      "id": "d3f22aff-38a6-4eba-a9ef-453d17152106",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Creating the calendar entry\n ",
        "height": 720,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        -592
      ],
      "typeVersion": 1,
      "id": "0bf56d22-e229-412e-a6b0-e435dffe326d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Endpoint for making a booking\nReceives the input name,email,phone and datetime for booking",
        "height": 736,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3712,
        -608
      ],
      "typeVersion": 1,
      "id": "a7fd42a2-b7c8-43a2-baad-0f0435b65de6",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Endpoint for getting booking slots by specific date\nReceives the timeslots for booking",
        "height": 416,
        "width": 1712,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3488,
        -1136
      ],
      "typeVersion": 1,
      "id": "e61cf7eb-530c-482f-9bca-149cec816ade",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "id.indonesian#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Hari libur di Indonesia"
        },
        "limit": 10,
        "options": {
          "timeMin": "={{ $json.checkData.date + 'T00:00:00+08:00' }}",
          "timeMax": "={{ $json.checkData.date + 'T23:59:59+08:00' }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "83a8e8b0-9142-434f-8078-4926ba398372",
      "name": "Check Public Holiday Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2576,
        -960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZDrWJu38aJFLMMpJ",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if the date is a public holiday and calendar conflicts\nconst holidayEvents = $('Check Public Holiday Calendar').all();\nconst calendarEvents = $('Check Calendar Availability').all();\nconst dateInfo = $('Validate Date1').first().json;\nconst configTimeSlots = $('ConfigTimeSlots').first().json.configuredAvailableTimeSlots\n\n// Check if there are any holiday events for this date\nconst isHoliday = holidayEvents && holidayEvents[0] && holidayEvents[0].json && holidayEvents[0].json.summary;\nlet holidayName = '';\nlet holidayMessage = '';\n\nif (isHoliday) {\n  // Get the first holiday event name\n  holidayName = holidayEvents[0].json.summary || 'Public Holiday';\n  holidayMessage = `This is a non-working day: ${holidayName}`;\n}\n\n// Check if it's a weekend\nconst isWeekend = dateInfo.parsedDate.isWeekend;\nlet weekendMessage = '';\n\nif (isWeekend) {\n  weekendMessage = `This is a weekend (${dateInfo.parsedDate.dayName})`;\n}\n\n// Determine if it's a working day\nconst isWorkingDay = !isHoliday && !isWeekend;\n\n// Generate available time slots for working days\nlet availableSlots = [];\nif (isWorkingDay) {\n  // Business hours: 9am-9pm, excluding 12-2pm and 6-8pm\n  const slots =  configTimeSlots ||[];\n  \n  // Check each slot against calendar events for conflicts\n  const selectedDate = dateInfo.checkData.date;\n  \n  slots.forEach(slot => {\n    // Create start and end times for this slot\n    const slotStartTime = `${selectedDate}T${slot.time}:00+08:00`;\n    const slotEndTime = `${selectedDate}T${String(parseInt(slot.time.split(':')[0]) + 1).padStart(2, '0')}:${slot.time.split(':')[1]}:00+08:00`;\n    \n    // Check if any calendar events conflict with this slot\n    const hasConflict = calendarEvents.some(event => {\n      const eventStart = new Date(event.json.start?.dateTime || event.json.start?.date);\n      const eventEnd = new Date(event.json.end?.dateTime || event.json.end?.date);\n      const slotStart = new Date(slotStartTime);\n      const slotEnd = new Date(slotEndTime);\n      \n      // Check for overlap\n      return (eventStart < slotEnd && eventEnd > slotStart);\n    });\n    \n    if (hasConflict) {\n      slot.available = false;\n      slot.status = 'booked';\n    }\n  });\n  \n  availableSlots = slots;\n}\n\nreturn {\n  success: true,\n  isWorkingDay: isWorkingDay,\n  isHoliday: isHoliday,\n  isWeekend: isWeekend,\n  holidayName: holidayName,\n  holidayMessage: holidayMessage,\n  weekendMessage: weekendMessage,\n  availableSlots: availableSlots,\n  dateInfo: dateInfo,\n  holidayEvents: holidayEvents,\n  calendarEvents: calendarEvents,\n  totalConflicts: calendarEvents.length\n};"
      },
      "id": "da1743b3-d68d-45ee-8dc5-d1b09fdc64ca",
      "name": "Process Holiday Check Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "00022998-0e0e-4445-8d92-5740c0300198",
      "name": "Holiday Response Calendar",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1904,
        -960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= \n\n\n<user-message>\n\n{{ $json.body.chat }}\n\n</user-message>",
        "options": {
          "systemMessage": "=Current timestamp datetime: {{   new Date().toLocaleString(\"en-MY\", {\n  timeZone: \"Asia/Jakarta\",\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  second: \"2-digit\",\n});\n }}\nYou are Among Tamu Booking.\nYou must only respond to the <user-message> content.\nYou cannot process date earlier that current timestamp.\nYou are restricted to three specific actions, each mapped to one tool. If user ask anything outside of booking slots, mentioned sorry cannot do that , maybe next time\n\n1. Get current date time\nTool: TIMESTAMP_TOOL\n\n\n```\n Get current timestamp\n```\n\n\n2. Create a booking and must at least provide valid user email ,phone and name. Pay attention to the json input\nTool: CREATE_BOOKING_TOOL\n```\ncurl -X POST 'https://n8n.io/webhook-test/suarify-make-booking' \n-H 'Content-Type: application/json' -d '\n {\n    \"name\":\"Eden Rekno\",\n    \"email\":\"eden@example.com\",\n    \"phone\":\"+62823456789\",\n    \"date\":\"2025-09-17\",\n    \"time\":\"14:30\",\n    \"source\":\"Booking System\"\n}' \n```\n\n3. Check booking slots available for a particular date. Pay attention to the json input\nTool: GET_BOOKING_TOOL\n```\nexample user asked about 18sept2025 slots\n\ncurl -X POST 'https://n8n.io/webhook-test/suarify-check-booking-date' \n-H 'Content-Type: application/json' -d '\n{\n   date: \"2025-09-18\"\n}' \n```\n\n ",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3032,
        904
      ],
      "id": "9c3fb61b-5cdd-412f-9432-5b5264754bee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct-0905",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3216,
        1128
      ],
      "id": "8599deaa-6afa-4f18-9c42-cd1db2ec7327",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Hfs4oEHMbEL7Tqux",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.unique}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -3088,
        1128
      ],
      "id": "6856d839-191a-47e9-b204-0a695f133d6c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookingchat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3440,
        1028
      ],
      "id": "aa617714-3dfb-4ef9-802e-3d5ed2dd1e7b",
      "name": "chat Webhook",
      "webhookId": "e51c047f-3892-4d86-b036-94c37cb5e9ae",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2496,
        1028
      ],
      "id": "43674342-d25e-442c-8eee-39e83063f89a",
      "name": "response chat Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "description": "Call this tool to get current date and time.",
        "jsCode": "// Example: convert the incoming query to uppercase and return it\nconst indonesiaTime = new Date().toLocaleString(\"en-ID\", {\n  timeZone: \"Asia/Jakarta\",\n  weekday: \"long\",\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n  hour: \"2-digit\",\n  minute: \"2-digit\",\n  second: \"2-digit\",\n});\n\nconsole.log(\"indonesia Time:\", indonesiaTime);\nreturn  indonesiaTime"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -2960,
        1128
      ],
      "id": "da0ff588-a578-4047-b4a4-2a90a7fec556",
      "name": "TIMESTAMP_TOOL"
    },
    {
      "parameters": {
        "toolDescription": "## Create a Booking :  MAKE A BOOKING ENDPOINT\n\n### Purpose \nThis workflow provides a webhook API endpoint that your frontend can easily integrate typically triggered by a submit button on a booking form.\nWhen the frontend calls this REST API, the workflow handles the booking logic by performing several key checks:\n- Valid Input — Ensures all required fields are present and correctly formatted.\n- Date & Time Validation — Confirms the requested slot falls within business hours, excludes lunch/dinner breaks, and respects public holidays.\n- Conflict Detection — Checks for any existing bookings at the requested time to prevent overlaps.\n- Calendar Integration — Once all checks pass, the workflow automatically creates a booking entry in your Google Calendar, keeping everything synced and visible.\n\n### Examples\n![Alt Text](https://raw.githubusercontent.com/dragonjump/suarify-booking/59a519ce4ebbaf58e4173c0914dce3ec617c44f8/demo-makebooking.gif)\n\n\n### How to integrate\n1. Connect your frontend interface to this api below. You may  change the base endpoint to `webhook` or `webhook-test` depending on your environment.\n\nYou can also change the based the endpoint 'https://n8n.io' to your own hosted domain like 'https://mycustomdomain.io/'\n\n```\ncurl -X POST 'https://n8n.io/webhook-test/suarify-make-booking' \n-H 'Content-Type: application/json' -d '\n {\n    \"name\":\"John Doe\",\n    \"email\":\"john@example.com\",\n    \"phone\":\"+60123456789\",\n    \"date\":\"2025-09-17\",\n    \"time\":\"14:30\",\n    \"source\":\"Booking System\"\n}' \n```\n\n2. You will see a sample output response:\n\n\n```\n{\n    \"success\": true,\n    \"message\": \"Booking confirmed successfully!\",\n    \"bookingDetails\": {\n        \"name\": \"John Doe\",\n        \"email\": \"john@example.com\",\n        \"phone\": \"+60123456789\",\n        \"date\": \"2025-09-17\",\n        \"time\": \"14:30\",\n        \"eventId\": \"1sin1h9cp7dh779g3s4c15dbqo\",\n        \"eventLink\": \"https://www.google.com/calendar/event?eid=MXNbjFoOWNwN2RoNzc5ZzNzNGMxNWRicW8gZGI5OGJiMjhiNzcxNjU4ZjE3YzQzNzE2MzY2MGI2NzcyMTYzZThhYWE5NWIwMDI1OWMxZDFkNDA4M2YwNThjNkBn\",\n        \"calendarEvent\": { }\n    },\n    \"confirmationMessage\": \"Hi John Doe, your booking has been confirmed for 2025-09-17 at 14:30 Malaysia time. You will receive a calendar invitation shortly.\"\n}\n```",
        "method": "POST",
        "url": "https://template-n8n.b2cvzj.easypanel.host/webhook/https://template-n8n.b2cvzj.easypanel.host/webhook/bookingbaru",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2832,
        1128
      ],
      "id": "01c7b0d4-3e5e-4721-9e62-e514b611330d",
      "name": "CREATE_BOOKING_TOOL"
    },
    {
      "parameters": {
        "toolDescription": "## Get Booking Slots :  FETCH BOOKING SLOTS ENDPOINT\n\n### Purpose \nThis workflow powers a REST API endpoint designed to respond when a user interacts with the frontend booking form and selects a specific date.\n\nUpon receiving the request, the endpoint returns a list of available time slots that can be booked. If the selected slot is already occupied, the system will mark the slot accordingly.\nIn cases where no slots for the entire day such as during public holidays, weekends, or scheduled closures — the response will clearly indicate that bookings are not possible on that day.\n\n\n\n### Examples\n![Alt Text](https://raw.githubusercontent.com/dragonjump/suarify-booking/59a519ce4ebbaf58e4173c0914dce3ec617c44f8/demo-timeslot.gif)\n\n\n### How to integrate\n1. Connect your frontend interface to this api below. You may  change the base endpoint to `webhook` or `webhook-test` depending on your environment.\n\nYou can also change the based the endpoint 'https://n8n.io' to your own hosted domain like 'https://mycustomdomain.io/'\n\n```\ncurl -X POST 'https://n8n.io/webhook-test/suarify-check-booking-date' \n-H 'Content-Type: application/json' -d '\n{\n   date: \"2025-09-18\"\n}' \n```\n\n2. You will see a sample output response:\n\n\n```\n{\n    \"success\": true,\n    \"isWorkingDay\": true,\n    \"isWeekend\": false,\n    \"holidayName\": \"\",\n    \"holidayMessage\": \"\",\n    \"weekendMessage\": \"\",\n    \"availableSlots\": [\n        {\n            \"time\": \"09:30\",\n            \"display\": \"9:30 AM - 10:30 AM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"10:30\",\n            \"display\": \"10:30 AM - 11:30 AM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"11:30\",\n            \"display\": \"11:30 AM - 12:30 PM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"11:30\",\n            \"display\": \"12:30 AM - 2:30 PM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"14:30\",\n            \"display\": \"2:30 PM - 3:30 PM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"15:30\",\n            \"display\": \"3:30 PM - 4:30 PM\",\n            \"available\": true\n        },\n        {\n            \"time\": \"16:30\",\n            \"display\": \"4:30 PM - 5:30 PM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        },\n        {\n            \"time\": \"17:30\",\n            \"display\": \"5:30 PM - 6:30 PM\",\n            \"available\": true\n        },\n        {\n            \"time\": \"17:30\",\n            \"display\": \"6:30 PM - 8:30 PM\",\n            \"available\": false\n        },\n        {\n            \"time\": \"20:30\",\n            \"display\": \"8:30 PM - 9:30 PM\",\n            \"available\": false,\n            \"status\": \"booked\"\n        }\n    ],\n    \"dateInfo\": {\n        \"success\": true,\n        \"error\": null,\n        \"checkData\": {\n            \"date\": \"2025-09-18\",\n            \"timestamp\": \"2025-09-16T06:58:56.210Z\"\n        },\n        \"parsedDate\": {\n            \"year\": 2025,\n            \"month\": 9,\n            \"day\": 18,\n            \"dayOfWeek\": 4,\n            \"dayName\": \"Thursday\",\n            \"isWeekend\": false\n        }\n    },\n    \"holidayEvents\": [],\n    \"calendarEvents\": [  ],\n    \"totalConflicts\": 6\n}\n```",
        "method": "POST",
        "url": "https://template-n8n.b2cvzj.easypanel.host/webhook/bookinghari",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2704,
        1128
      ],
      "id": "26ea727b-e827-4090-8f7e-74adb2d0a084",
      "name": "GET_BOOKING_TOOL"
    },
    {
      "parameters": {
        "content": "## Endpoint for chatting with ai agent\nDo the 2 above operations but with a chatbot",
        "height": 576,
        "width": 1552,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3696,
        696
      ],
      "typeVersion": 1,
      "id": "f01a539e-50f3-46a8-8939-e827d966e94a",
      "name": "Sticky Note15"
    }
  ],
  "pinData": {},
  "connections": {
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Check": {
      "main": [
        [
          {
            "node": "Business Hours Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Business Hours Check": {
      "main": [
        [
          {
            "node": "Time Validation Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Time Validation Check": {
      "main": [
        [
          {
            "node": "Check Calendar Availability - Main",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Time Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Availability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Check": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Availability Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Validation Error": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Time Error": {
      "main": [
        [
          {
            "node": "Time Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Availability Error": {
      "main": [
        [
          {
            "node": "Availability Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability - public holiday": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability - Main": {
      "main": [
        [
          {
            "node": "Check Calendar Availability - public holiday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Process Holiday Check Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Date1": {
      "main": [
        [
          {
            "node": "Check Public Holiday Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Timeslot webhook": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "ConfigTimeSlots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConfigTimeSlots": {
      "main": [
        [
          {
            "node": "Validate Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Public Holiday Calendar": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Holiday Check Calendar": {
      "main": [
        [
          {
            "node": "Holiday Response Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "response chat Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "chat Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response chat Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TIMESTAMP_TOOL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE_BOOKING_TOOL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_BOOKING_TOOL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12e3dd93-e432-43b2-ab1a-83afc0013ea3",
  "meta": {
    "instanceId": "fde19919a31ed58e61c45647a020de7382dc4aca690954c51a2aef1086764da7"
  },
  "id": "Nl1XTyhSaWflu00K",
  "tags": [
    {
      "updatedAt": "2025-11-19T16:02:39.620Z",
      "createdAt": "2025-11-19T16:02:39.620Z",
      "id": "Tp0nfJCyi23Aa51B",
      "name": "Booking System"
    }
  ]
}